{% extends "base.tmpl" %}

{% block seo %}

<title>{{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}">
<meta property="og:url" content="{{site.URL}}"/>
<meta property="og:title" content="{{site.Name}}"/>
<meta property="og:description" content="{{site.Description}}"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="twitter:title" content="{{site.Name}}" />
<meta name="twitter:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="description" content="{{site.Description}}"/>
<meta name="twitter:description" content="{{site.Description}}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{site.Name}}",
      "url": "{{site.URL}}",
      "description": "{{site.Description}}",
      "image": "https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}

<section class="center">
  <header class="tc pv2 pv3-ns">
    <code>गुरू गोविन्द दोऊ खड़े, काके लागूं पांय।</code><br />
    <code>बलिहारी गुरू अपने गोविन्द दियो बताय।।</code>
    
<article>
<div class="pa3 pa4-ns bb">

<img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fmother.png?alt=media&token=6417cc74-12ad-4679-bf5f-929bceb4ead8&_gl=1*19nf7ve*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU2MTY3OS41LjEuMTY5NjU2MTgyNy4yMi4wLjA." class="br-100 ma1 h-20 w-20 ba b--black-10" alt="avatar">
<img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Ffather.png?alt=media&token=e19d4b5b-a527-4e57-9977-a3c35e23ba27&_gl=1*r8rw26*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU2MTY3OS41LjEuMTY5NjU2MTkzNi42MC4wLjA." class="br-100 ma1 h-20 w-20 ba b--black-10" alt="avatar">
<img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fmrigwani-sir.png?alt=media&token=5613e247-899e-4f1f-9d7e-b89c2a61aabf&_gl=1*c3uzet*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU5MzQ0OC4xMC4xLjE2OTY1OTQwMzkuMzMuMC4w" class="br-100 ma1 h-20 w-20 ba b--black-10" alt="avatar">
<img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fr.b%20patel%20sir.png?alt=media&token=51c430d0-8751-45bd-8641-ff9f6def11b7&_gl=1*1fcfkn*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU2MTY3OS41LjEuMTY5NjU2MTk4NC4xMi4wLjA." class="br-100 ma1 h-20 w-20 ba b--black-10" alt="avatar">
<img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fvarinder%20mam%20and%20kuldeep%20sir.png?alt=media&token=bb89d4dd-47fc-447b-bf75-312eb28e4c49&_gl=1*1y0iisj*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU2MTY3OS41LjEuMTY5NjU2MjAyMy40NC4wLjA." class="br-100 ma1 h-20 w-20 ba b--black-10" alt="avatar">
<img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fanurag%20sir.png?alt=media&token=4674707e-a15f-41f6-8c94-08d2b62dab53&_gl=1*1qdhhyp*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU2MTY3OS41LjEuMTY5NjU2MjA2NC4zLjAuMA.." class="br-100 ma1 h-20 w-20 ba b--black-10" alt="avatar">
<img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fjoseph%20sir.png?alt=media&token=ce6cbe37-e6e7-424c-a0f7-00cea07a0ed5&_gl=1*1gr944o*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU2MTY3OS41LjEuMTY5NjU2MjA5Mi4zNS4wLjA." class="br-100 ma1 h-20 w-20 ba b--black-10" alt="avatar">

</div>
</article>

  </header>

  <article class="f4 lh-copy">      
    <p>
      <a href="https://github.com/darshansharma/resume/raw/master/resumeDarshanSharma.pdf">My resume - </a>
    </p>
  </article>
</section>

<section class="bt b--black-10 center">
  <h2 class="tc dim b f2">Latest Articles</h2>      
  {% for entry in entries |slice:":4" %}

  <article class="pv4 bb b--black-10 ph3 ph0-l">
    <div class="flex flex-column">
      <div class="w-100 pr3-ns order-2 order-1-ns">
        <small>
          <time datetime="{{entry.PublishAt | slice: ":11" }}">
            {{ entry.PublishAt }}
          </time>
        </small>
        <a href="{{site.URL}}/{{entry.Slug}}" target="_blank" class="link">
          <h2 class="f3 mt0 lh-title">{{entry.Title}}</h2>
        </a>
        <p class="f5 f4-l lh-copy">
          {{ entry.Excerpt }}&hellip;
        </p>
      </div>
    </div>   
    <small>
      {% for tag in entry.Tags %}
        <a href="{{site.URL}}/tags/{{tag}}/" class="link" target="_blank">#{{tag}}</a>
        {% if not forloop.Last %}, {% endif %}
      {% endfor %}
    </small>
  </article>
  {% endfor %}
  </section>
{% comment %} <section class="pa4-l">
      <form class="bg-near-white mw7 center pa4 br2-ns" action="{{site.MailchimpURL}}" method="POST">
      <fieldset class="cf bn ma0 pa0">
        <p>Enter your email below to get started.</p>
        </legend>
        <div class="cf"> 
          <label class="clip" for="email-address">Email Address</label> 
          <input
            class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
            placeholder="mailme@domain.com" type="text" name="MERGE0" value="" id="MERGE0"> 
            <input
            class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-dark-gray white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
            type="submit" value="Subscribe"> 
            </div>
      </fieldset>
    </form>
</section> {% endcomment %}

<section class="bt b--black-10 center lh-copy">
</section>


{% endblock %}
