{% extends "base.tmpl" %}

{% block seo %}

<title>{{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}">
<meta property="og:url" content="{{site.URL}}"/>
<meta property="og:title" content="{{site.Name}}"/>
<meta property="og:description" content="{{site.Description}}"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="twitter:title" content="{{site.Name}}" />
<meta name="twitter:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="description" content="{{site.Description}}"/>
<meta name="twitter:description" content="{{site.Description}}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{site.Name}}",
      "url": "{{site.URL}}",
      "description": "{{site.Description}}",
      "image": "https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}

<section class="center">
  <header class="tc pv2 pv3-ns">
    <h3 class="dim db mb4-ns">Books I have read - </h3>
    
<article>
<div class="pa3 bb">

<a href="https://amzn.to/3Q5R5gK"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fwings-of-fire.png?alt=media&token=b71bbb7f-cccf-43c6-9ea8-fc7fdc44e1f7&_gl=1*pxz9uf*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTc1MS4yLjAuMA.." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/45nfAuh"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fthe-power-of-now.png?alt=media&token=fb3e7fa5-74d8-4ed3-a5e4-20a5e281973f&_gl=1*1jeoras*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTc4MC42MC4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/3Q5qSPv"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Flet's-talk-money.png?alt=media&token=583d896a-8c72-4694-aea4-a68f586aa6ed&_gl=1*112hfsz*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTc5Ny40My4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/3F754N4"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fskin-in-the-game-123.png?alt=media&token=2848fbc5-f299-4939-8902-0f66cf427e80&_gl=1*1acgr1i*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTg1MC42MC4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/3RNKDft"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fsapiens.png?alt=media&token=9be12b54-9ee7-4b08-89f2-07a31cf182f5&_gl=1*111cyqi*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTg2Ny40My4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/3Q6Hgzl"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fstay-hungry-stay-foolish.png?alt=media&token=17c49aa5-477c-4524-8e7f-f2004c3afac7&_gl=1*33cnei*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTg4Ni4yNC4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/3Q3fBza"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fhow-to-talk-to-kids.png?alt=media&token=5732c3ff-3dc2-455e-a0f3-59deb64f81d9&_gl=1*1e1tv4j*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTkyMS42MC4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/48KHpQf"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fconnecting-the-dots.png?alt=media&token=b8a7aae9-f35e-4d82-8b6a-3ff5f719b0d2&_gl=1*1fqrly3*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTkzNy40NC4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/3rIp2dZ"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fthe-power-of-your-subconscious-mind.png?alt=media&token=dab4af07-e526-4192-874f-62b5225d136a&_gl=1*1wb86z9*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MTk1Ny4yNC4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/3LR98VA"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fmeditations.png?alt=media&token=db204a61-f239-43a8-8dc8-fb97597f2845&_gl=1*1nsxbsv*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MjAwMC40NS4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a href="https://amzn.to/48BjGSx"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fkarma-yoga.png?alt=media&token=e8e4a95c-ef7c-46ec-92ab-7c2e99edf365&_gl=1*1kmlb6m*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3MTUxMy43LjEuMTY5NjU3MjAxOS4yNi4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>

</div>
</article>
  </header>

  
</section>



{% endblock %}
