{% extends "base.tmpl" %}

{% block seo %}

<title>{{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}">
<meta property="og:url" content="{{site.URL}}"/>
<meta property="og:title" content="{{site.Name}}"/>
<meta property="og:description" content="{{site.Description}}"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" />
<meta name="twitter:title" content="{{site.Name}}" />
<meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" />
<meta name="description" content="{{site.Description}}"/>
<meta name="twitter:description" content="{{site.Description}}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{site.Name}}",
      "url": "{{site.URL}}",
      "description": "{{site.Description}}",
      "image": "https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}

<section class="center">
  <header class="tc pv2 pv3-ns">
    
    
<article class="bg-white">
<article>
<div class="pa3 bb">

<a target="_blank" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fhtmlcsss-jsLogo.png?alt=media&token=73faf090-6cb9-44d8-b035-d7677f774d64&_gl=1*1ox9m1l*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY2Njk0Ni4xMi4xLjE2OTY2NjcyNzQuMzIuMC4w" class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a target="_blank" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FreactLogo.png?alt=media&token=ec0a3617-bad2-4bb8-8f5d-ce7561ad7af0&_gl=1*quob5e*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY2Njk0Ni4xMi4xLjE2OTY2NjcxMjYuMjYuMC4w" class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a target="_blank" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FnodejsLogo.png?alt=media&token=2f728345-8deb-441d-b946-84de17d56ced&_gl=1*1brkdiq*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY2Njk0Ni4xMi4xLjE2OTY2NjcxNjguNjAuMC4w" class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a target="_blank" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FmongoDbLogo.png?alt=media&token=81ff519f-3d03-4fc5-96ad-2dfdffaf5c5b&_gl=1*1ejxzjz*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY2Njk0Ni4xMi4xLjE2OTY2NjcxODkuMzkuMC4w" class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a target="_blank" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FgraphQLLogo.png?alt=media&token=25badbfb-eea2-4271-8109-2c21e44a4f3b&_gl=1*1ka85t1*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY2Njk0Ni4xMi4xLjE2OTY2NjcyMTMuMTUuMC4w" class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a target="_blank" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FDSlOGO.png?alt=media&token=0fe3bb62-9777-45b9-8574-b9d24f65f627&_gl=1*1evgdx3*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY2Njk0Ni4xMi4xLjE2OTY2NjcyNDYuNjAuMC4w" class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>
<a target="_blank" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FAlgoLogo.png?alt=media&token=e1da6c71-edfb-454c-9799-606555854c78&_gl=1*14ok0cz*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY2Njk0Ni4xMi4xLjE2OTY2NjcyOTcuOS4wLjA." class="dimm ma1 h-20 w-20 ba b--black-10" alt="avatar"></a>

</div>
</article>

    <div class="ph5-m ph1-l">
        <div class="pv5 f4 f2-ns measure center">
            <h1 class="fw6 f1 fl w-100 black-70 mt0 mb3 avenir">Courses</h1>
            <p class="db lh-copy black-70 serif fw1 mv0 f4 f3-m f2-l measure baskerville">
                Courses on React Library, Javascript, Data Structures, Algorithms, Computer Networks will be launched very soon.
            </p>
        </div>
        <div class="cf mw8 center">
            <div class='fl w-33 w-50-m w-33-l pr2 pr2-l'>
                <div class="pv6 cover bg-center" style="background: url(https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Ffirst-cl.gif?alt=media&token=a0ec5b14-8a3d-4868-bd71-f6b8dbeb9a09&_gl=1*1l6k8ln*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3ODg2NS45LjEuMTY5NjU4MDY2Mi40NC4wLjA.);"></div>
            </div>
            <div class='fl w-33 w-50-m w-33-l ph3 pr0-m ph3-l'>
                <div class="pv6 cover bg-center" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fsecond-cl.gif?alt=media&token=72ebac96-dd0f-4df2-bad6-cb9245fd330e&_gl=1*935boe*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3ODg2NS45LjEuMTY5NjU4MDY5NC4xMi4wLjA.);"></div>
            </div>
            <div class='fl w-33 w-100-m w-33-l pl2 pl0-m pl2-l mt4-m'>
                <div class="pv6 cover bg-center" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fthird-cl.gif?alt=media&token=1f02b2c6-d0a6-4ca5-b025-76a773c226fd&_gl=1*11gqehk*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjU3ODg2NS45LjEuMTY5NjU4MDcyMy42MC4wLjA.);"></div>
        </div>
      </div>
</div>
</article>

  </header>
</section>

<section class="bt b--black-10 center">
  <h2 class="tc dim black b f2">Latest Articles</h2>      
  {% for entry in entries |slice:":4" %}

  <article class="pv4 bb b--black-10 ph3 ph0-l">
    <div class="flex flex-column">
      <div class="w-100 pr3-ns order-2 order-1-ns">
        <small>
          <time datetime="{{entry.PublishAt | slice: ":11" }}" class="silver">
            {{ entry.PublishAt }}
          </time>
        </small>
        <a href="{{site.URL}}/{{entry.Slug}}" target="_blank" class="link">
          <h2 class="f3 mt0 lh-title">{{entry.Title}}</h2>
        </a>
        <p class="f5 f4-l lh-copy">
          {{ entry.Excerpt }}&hellip;
        </p>
      </div>
    </div>   
    <small class="silver">
      {% for tag in entry.Tags %}
        <a href="{{site.URL}}/tags/{{tag}}/" class="link" target="_blank">#{{tag}}</a>
        {% if not forloop.Last %}, {% endif %}
      {% endfor %}
    </small>
  </article>
  {% endfor %}
  </section>
{% comment %} <section class="pa4-l">
      <form class="bg-near-white mw7 center pa4 br2-ns" action="{{site.MailchimpURL}}" method="POST">
      <input type="hidden" name="u" value="{{ site.MailchimpUID }}">
      <input type="hidden" name="id" value="{{ site.MailchimpAID }}">
      <fieldset class="cf bn ma0 pa0">
        <p>Enter your email below to get started.</p>
        </legend>
        <div class="cf"> 
          <label class="clip" for="email-address">Email Address</label> 
          <input
            class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
            placeholder="mailme@domain.com" type="text" name="MERGE0" value="" id="MERGE0"> 
            <input
            class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-dark-gray white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
            type="submit" value="Subscribe"> 
            </div>
      </fieldset>
    </form>
</section> {% endcomment %}

<section class="bt b--black-10 center lh-copy">
</section>


{% endblock %}
