{% extends "base.tmpl" %}

{% block seo %}

<title>{{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}">
<meta property="og:url" content="{{site.URL}}"/>
<meta property="og:title" content="{{site.Name}}"/>
<meta property="og:description" content="{{site.Description}}"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="twitter:title" content="{{site.Name}}" />
<meta name="twitter:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="description" content="{{site.Description}}"/>
<meta name="twitter:description" content="{{site.Description}}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{site.Name}}",
      "url": "{{site.URL}}",
      "description": "{{site.Description}}",
      "image": "https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}

<section class="center">
  <header class="tc pv2 pv3-ns">
    
    
<article>
<article>
<div class="flex flex-row flex-wrap" style="display:flex; flex-wrap: wrap;">

<div class="dim ma1 w-30 pa3 mr1 hide-child">
  <a href=https://pages.razorpay.com/cs1248">
    <img src="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/CS1248+Logo.jpg" class="ba b--black-10" alt="cs1248-course">
    <p class="child">CS 1248</p>
    <p class="child">Starts from 35000</p>
  </a>
</div>
<div class="dim ma1 w-30 pa3 mr1 hide-child pointer">
  <a href="https://rzp.io/i/1cCDdcH8uQ">
    <img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Freact-logo.jpg?alt=media&token=90f8bb46-d9ee-4e5f-abc2-dfd27e609051&_gl=1*if16hd*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY3MDcwNC4xMy4xLjE2OTY2NzA3NTQuMTAuMC4w" class="ba b--black-10" alt="react-course">
    <p class="child">React Course</p>
    <p class="child">Rs 499.00</p>
  </a>
</div>
<div class="dim ma1 w-30 pa3 mr1 hide-child">
  
    <img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fnodejs-logo.jpg?alt=media&token=5f3cb6de-1588-4495-b56f-edda0cc094ed&_gl=1*mawk4c*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY3MDcwNC4xMy4xLjE2OTY2NzA4OTguMjguMC4w" class="b--black-10" alt="nodejs-course">
    <p class="child">NodeJS Course</p>
    <p class="child">Rs 499.00</p>
  
</div>
<div class="dim ma1 w-30 pa3 mr1 hide-child">
  
    <img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FmongoDB-logo.jpg?alt=media&token=d5dec71b-0f3e-43fa-a6a2-d6dea3926bde&_gl=1*1sidkvz*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY3MDcwNC4xMy4xLjE2OTY2NzA4NjYuNjAuMC4w" class="ba b--black-10" alt="mongodb-course">
    <p class="child">mongoDB Course</p>
    <p class="child">Rs 499.00</p>
  
</div>
<div class="dim ma1 w-30 pa3 mr1 hide-child">
  
    <img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2FGraphQL-logo.jpg?alt=media&token=3ded47e1-9dfe-4702-8bce-9c478bf2e4fd&_gl=1*x3hwwi*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY3MDcwNC4xMy4xLjE2OTY2NzA4MjguMzMuMC4w" class="ba b--black-10" alt="graphQL-course">
    <p class="child">graphQL Course</p>
    <p class="child">Rs 499.00</p>
  
</div>
<div class="dim ma1 w-30 pa3 mr1 hide-child">
  
    <img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Fds-slogo.jpg?alt=media&token=1f37b8fa-21cd-4a58-9abb-58226ac7839b&_gl=1*1bufy1j*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY3MDcwNC4xMy4xLjE2OTY2NzA5NjQuMzMuMC4w" class="ba b--black-10" alt="data-structure-course">
    <p class="child">Data Structure Course</p>
    <p class="child">Rs 499.00</p>
  
</div>
<div class="dim ma1 w-30 pa3 mr1 hide-child">
  
    <img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2Falgor-logo.jpg?alt=media&token=c22dd328-db6a-444e-8677-680dc3f20c0a&_gl=1*1r6l4th*_ga*MjE0NzMyMTgzNS4xNjk2MzE0OTk4*_ga_CW55HF8NVT*MTY5NjY3MDcwNC4xMy4xLjE2OTY2NzA5MzcuNjAuMC4w" class="ba b--black-10" alt="algorithm-course">
    <p class="child">Algorithms Course</p>
    <p class="child">Rs 499.00</p>
  
</div>

</div>
</article>

    <div class="ph5-m ph1-l">
        <div class="pv5 f4 f2-ns measure center">
            <h1 class="fw6 f1 fl w-100 mt0 mb3 avenir">Courses</h1>
            <p class="db lh-copy fw1 mv0 f4 f3-m f2-l measure baskerville">
                Courses on React Library, Javascript, Data Structures, Algorithms, Computer Networks will be launched very soon.
            </p>
        </div>
        
</div>
</article>

  </header>
</section>


<section class="bt b--black-10 center lh-copy">
</section>


{% endblock %}
