{% extends "base.tmpl" %}

{% block seo %}

<title>All posts at {{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}/posts/">
<meta property="og:url" content="{{site.URL}}/posts/"/>
<meta property="og:title" content="All posts at {{site.Name}}"/>
<meta property="og:description" content="All posts at {{site.Description}}"/>
<meta property="og:type" content=”website” />
<meta property="og:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="description" content="All posts at {{site.Description}}"/>
<meta name="twitter:description" content="All posts at {{site.Description}}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "All posts at {{site.Name}}",
      "url": "{{site.URL}}/posts/",
      "description": "All posts at {{site.Description}}",
      "image": "https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}
<div class="tc">        
  <h1 class="pt3 mb1 mt1 f3">All Articles I've Written So Far...</h1>
</div>
  {% for entry in entries %}
      <article class="center mw6 ba b--black-10 mv4">
      <div>
      <div class="pv2 ph3">
          <h1 class="f6 ttu tracked"><a href="/{{entry.Slug}}/"title="click to read {{entry.Slug}}"">
              {{entry.Title}}</a>
          </h1>
        </div>

        <img src={{entry.FeaturedImage}} class="w-100 db" alt={{entry.URL}}>
        <div class="pa3">
          <a href="/{{entry.Slug}}/"title="click to read" class="link dim lh-title">{{ entry.Excerpt }}&hellip;</a>
          <small class="gray db pv2">Published on <time datetime="{{entry.PublishAt | slice: ":11" }} class="f5 mv0">
                    {{ entry.PublishAt }}
                  </time></small>
        </div>
          
          
        {% if entry.Tags %}
          <small>
            {% for tag in entry.Tags %}
              <a href="/tags/{{tag}}/" class="link" title="click to read all articles under {{tag}}">#{{tag}}</a>
              {% if not forloop.Last %}, {% endif %}
            {% endfor %}
          </small>
        {% endif %}
        </div>
      </article>
  {% endfor %}
{% endblock %}
