{% extends "base.tmpl" %}

{% block seo %}

<title>{{entry.Title}}</title>
<link rel="canonical" href="{{site.URL}}/{{entry.Slug}}">
<meta property="og:url" content="{{site.URL}}/{{entry.Slug}}"/>
<meta property="og:title" content="{{entry.Title}}"/>
<meta property="og:description" content="{{entry.Excerpt}}"/>
<meta property="og:type" content="article" />
<meta name="description" content="{{entry.Excerpt}}"/>
<meta name="twitter:title" content="{{entry.Title}}" />
<meta name="twitter:description" content="{{entry.Excerpt}}" />
{% if entry.FeaturedImage %}
  <meta name="twitter:image" content="{{ entry.FeaturedImage }}" />
  <meta property="og:image" content="{{ entry.FeaturedImage }}">
{% else %}
  <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" />
{% endif %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{entry.Title}}",
      "url": "{{site.URL}}/{{entry.Slug}}",
      "description": "{{entry.Excerpt}}",
      "datePublished": "{{ entry.PublishAt | slice: ":9" }}",
      {% if entry.FeaturedImage %}
        "image": "{{entry.FeaturedImage}}",
      {% else %}
        "image": "https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2",
      {% endif %}
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
<script type="application/javascript">

  function storeComment () {
    console.log("Storing comment.....");
    try{
      const commentTime = new Date().toString();
      const commentUserName = document.getElementById("user-name").value;
      const comment = document.getElementById("comment").value;
      const commentMetadata = {
        time: commentTime,
        name: commentUserName,
        comment,
      };
      console.log(commentMetadata);
      document.getElementById("post-btn").innerHTML="Comment added";
      document.getElementById("post-btn").style.backgroundColor="#00BF63";
    }
  catch(err) {
    document.getElementById("post-btn").innerHTML="Something went wrong";
      document.getElementById("post-btn").style.backgroundColor="red";
  }    
    setTimeout(function (){
      document.getElementById("user-name").value="";
      document.getElementById("comment").value="";
      document.getElementById("post-btn").innerHTML="Post";
      document.getElementById("post-btn").style.backgroundColor="black";
    },5000);
  }

</script>

{% endblock %}

{% block content %}
  <article class="center mw5 mw6-ns hidden">
    <div>
      <div class="tc">        
        <h1 class="mb1 mt1 f3 dark-gray">{{ entry.Title }}</h1>
        <h3 class="ph3 ph5-ns fw3 georgia i">{{ entry.Excerpt }}</h3>
      </div>
  </div>
      <div class="f4">
         {{ entry.Content | safe }}
          <form class="bg-near-white mw7 center pa4 br2-ns">
        <p>Comment Here
          <span class="normal black-60">
                    (optional)
          </span>
        </p>
        <div class="cf flex flex-column"> 
          <input
            class="bn fl ba black-80 bg-white pa3 lh-solid w-100 w-100 br2-ns br--left-ns mb3"
            placeholder="Name" type="text" value="" id="user-name"> 
            <textarea id="comment" placeholder="Write your comment here" name="comment" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb3" aria-describedby="comment-desc">
            </textarea>
              <a class="f6 link dim br3 pointer ph3 pv2 mb2 dib white bg-black" id="post-btn" onclick="storeComment()">Post</a>
            </div>
      </fieldset>
    </form>
         {% if entry.Type == "post" %}
          <footer>          
          <br/><b>Share this article</b> : 
            <a href="https://twitter.com/intent/tweet?text={{entry.Title|urlencode}}&url={{site.URL|urlencode}}/{{entry.Slug|urlencode}}">Twitter</a> / 
            <a href="http://www.linkedin.com/shareArticle?url={{site.URL|urlencode}}/{{entry.Slug|urlencode}}&title={{entry.Title|urlencode}}&source={{site.URL|urlencode}}">LinkedIn</a> / 
            <a href="https://www.facebook.com/sharer/sharer.php?u={{site.URL|urlencode}}/{{entry.Slug|urlencode}}&quote={{entry.Title|urlencode}}">Facebook</a> / 
            <a href="https://api.whatsapp.com/send?text={{entry.Title|urlencode}}%3B%20Read%20At%20{{site.URL|urlencode}}/{{entry.Slug|urlencode}}">Whatsapp</a>
          </p>
          </footer>
         {% endif %}
      </div>
    </div>
    <small class="black">Published On:
      <time datetime="{{entry.PublishAt | slice: ":11"}}">
      {{ entry.PublishAt | slice: ":11" }}
      </time>
    </small>
    <br/>
    {% if entry.Tags %}
      <small class="black">Under:
        {% for tag in entry.Tags %}
          <a href="{{site.URL}}/tags/{{tag}}/" class="link" target="_blank">#{{tag}}</a>
          {% if not forloop.Last %}, {% endif %}
        {% endfor %}
      </small>
    {% endif %}
  </article>

{% endblock %}
