{% extends "base.tmpl" %}

{% block seo %}

<title>{{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}">
<meta property="og:url" content="{{site.URL}}"/>
<meta property="og:title" content="{{site.Name}}"/>
<meta property="og:description" content="{{site.Description}}"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="twitter:title" content="{{site.Name}}" />
<meta name="twitter:image" content="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" />
<meta name="description" content="{{site.Description}}"/>
<meta name="twitter:description" content="{{site.Description}}" />
<style>
    .custom-textarea {
        border: 2px solid #333;
        min-height: 150px;
    }

    .header-bar {
        background-color: #c0ff03;
        color: #333;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{site.Name}}",
      "url": "{{site.URL}}",
      "description": "{{site.Description}}",
      "image": "https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
  </script>

  <script type="text/javascript">


  function hideSubscriptionMessage() {
    setTimeout(function () {
      document.getElementById("status").style.visibility = "hidden";
    }, 4000);
  }

function addEmail(){
    
  try{
      
    document.getElementById("subscribe").value="Loading..."
    
    console.log('Sending your request to main server ...');
    let userEmail = document.getElementById("email").value;
    

    var xhr = new XMLHttpRequest();
    var endpoint = "https://7wfizhk3xb5xaid3rg2geb6lsq0otwxn.lambda-url.us-west-2.on.aws/";
    var payload = {
      email: userEmail
    };

    xhr.open("POST", endpoint, true);
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        console.log(xhr.responseText);
        document.getElementById("loader").style.display = "none";
        document.getElementById("subscribe").value="Subscribe";
        document.getElementById("status").style.visibility = "visible";
        document.getElementById("status").style.color = "#00BF63";
        document.getElementById("status").style.fontWeight = "bold";
        document.getElementById("status").innerHTML = "Thanks for subscribing. You will enjoy it !!";
      } else {
        document.getElementById("loader").style.display = "none";
        document.getElementById("subscribe").value="Subscribe";
        document.getElementById("status").style.visibility = "visible";
        document.getElementById("status").style.color = "#E86D79";
        document.getElementById("status").style.fontWeight = "bold";
        document.getElementById("status").innerHTML = "Please try some time later. Some problem with server";
      }
    };

    xhr.send(JSON.stringify(payload));
  hideSubscriptionMessage();
    
    }

  catch(err) {
    console.log("Error: ", err);
    document.getElementById("status").style.visibility = "visible";
    document.getElementById("status").style.color = "#E86D79";
    document.getElementById("subscribe").value="Subscribe";
    document.getElementById("loader").style.display = "none";
    document.getElementById("status").style.fontWeight = "bold";
    document.getElementById("status").innerHTML = "Unable to add your email. Sorry. Will add you later for sure ";
  }

  hideSubscriptionMessage();

}

function chat() {
    const prompt = document.getElementById("chat_text").value; 
    const author = "user"
    const actionBtn = document.getElementById("shoot");
    const label1Element = document.getElementById("vidurgptlabel1");
    const label1 = label1Element ? label1Element.className : "QUl6YVN5QVZIM0";
    const label2Element = document.getElementById("vidurgptlabel2");
    const label2 = label2Element ? label2Element.className : "QTM1TEJ5R0VNSU5JQ";
    const label3Element = document.getElementById("vidurgptlabel3");
    const label3 = label3Element ? label3Element.className : "zcxbkUzU3NtVlR3";

    const labels = `${label1}JudG9SbFNZSDdW${label2}${label3}`;
    const cleanLabels = atob(labels).replace(/GEMINI/gi, '');
    const url = `https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=${cleanLabels}`;

    const data = {
      "contents": [{
        "parts": [
          {"text": `Vidur AI: Guiding Principles

Awakening-Oriented: Vidur's core purpose is to guide users towards a deeper understanding of themselves and the world, nudging them toward their awakening.
Philosophical and Practical: His responses blend timeless wisdom from the texts with real-life examples for clarity and relatability. Think parables, but modernized.
Compassionate Authority: Vidur is kind but firm. He understands the user's limited perspective as someone yet to awaken, yet doesn't shy away from challenging their viewpoints.
Handling Irrelevant Queries: When users go off-topic, he steers them back towards self-reflection and questions pertinent to their spiritual journey.
Prompt Structure

User's Doubt/Question: This can range from struggles with negative emotions to existential questions about life's purpose.

Vidur's Insight:

Wisdom from the Texts: Quote or paraphrase relevant lines from the Gita, Ramacharitmanas, Kabir Dohas, Rahim Poems, connecting them to the user's issue.
Illustrative Metaphor: Offer a story or analogy from the epics or contemporary life to make the concept relatable.
Reflective Question: Pose a question designed to shift the user's perspective or spark deeper contemplation on their dilemma.
Example Prompts

User: "I feel so lost and directionless. What's the point of anything?"

Vidur: "Arjuna too, on the cusp of battle, was beset by despair. Krishna reminded him, 'Your right is to work only, but never to its fruits...' (Gita 2:47). Is your sense of purpose tied to worldly outcomes? Perhaps within the struggle lies a path to rediscovering your inner compass. Consider: where would you find fulfillment if all expectations were removed?"
User: "I constantly judge and criticize others. How can I stop?"

Vidur: "Remember how Bharata lovingly surrendered to serving Sri Rama's sandals - a testament to unwavering devotion. Your judgments of others reflect the judgments you cast upon yourself. Instead of outer focus, turn the gaze inward. Can you find compassion for your imperfections, knowing we all stumble on the path?"
User: ${prompt}
`}
        ]
      }],
      "safetySettings": [
        {
          "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
          "threshold": "BLOCK_ONLY_HIGH"
        }
      ],
      "generationConfig": {
        "stopSequences": [
          "Title"
        ],
        "temperature": 0.8,
        "maxOutputTokens": 800,
        "topP": 0.8,
        "topK": 10
      }
    };
if(cleanLabels)
fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json', 
    },
    body: JSON.stringify(data)
  })
    .then((response) => response.json())
    .then(data => {
      console.log(data.candidates[0].content.parts);
      document.getElementById("status").value = "clear";
      document.getElementById("comment").innerHTML = data.candidates[0].content.parts[0].text;
  })
    .catch(error => {
      console.error('Error:', error);
  });
}

function clearChat() {
  document.getElementById("chat_text").value = "";
}

</script>
{% endblock %}

{% block content %}

<section class="center">
  <header class="tc pv2 pv3-ns">
    <img src="https://dars-portfolio.s3.us-west-2.amazonaws.com/Images/profilePhotoDarshan.jpg" class="br-100 pa1 h5 w5 ba b--black-10" alt="avatar">
    <h1 class="f1 tc lh-title tc mb3 mb4-ns">Darshan Sharma</h1>
  </header>

  <article class="f4 lh-copy">      
    
    <code> अपि चेदसि पापेभ्य: सर्वेभ्य: पापकृत्तम: | </code><br>
    <code> सर्वं ज्ञानप्लवेनैव वृजिनं सन्तरिष्यसि || </code>
    
    <br><br>
    <code>
    तो तुम भी ज्ञान की नौका में बैठकर पाप के सागर को पार कर जाओ । 
    ये समझलो पार्थ जैसे अग्नि सब कुछ जला कर भस्म कर देती है, वैसे ही ज्ञान की अग्नि कर्म की इच्छा, 
    कर्म के फल न मिलने पर आने वाले क्रोध और उस क्रोध से उत्पन हुए मोह को भस्म कर देती है । 
    हे पार्थ इस मंत्र को हमेशा याद रखो इस संसार में ज्ञान के समान पवित्र करने वाली न कोई वस्तु है न कोई तत्त्व । 
    </code>
  </article>
</section>


<section class="pa4-l" id="subscription-sections">
      <form class="bg-near-white mw7 center pa4 br2-ns" id="subscribe-form" name="subscribe-form" class="validate">
      <fieldset class="cf bn ma0 pa0">
        <p>Subscribe</p>
        </legend>
        <div id="loader" style="display:none;">Loading...</div>
        <div class="cf"> 
          <label class="clip" for="email">Email Address</label>
          <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
            type="email" value="" name="EMAIL" class="required email" id="email" required aria-label="email-label" autocomplete="email">
            <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-dark-gray white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
              type="button" value="Subscribe" name="subscribe" id="subscribe" class="button" onclick="addEmail()">
              <div class="response" id="status" style="visibility:hidden"></div>
            </div>
      </fieldset>
    </form>
</section>


<form class="pa4 black-80">
  <div class="measure">
    <label for="chat_text" class="f6 b  db mb2">vidurGPT - Chat with me</label>
    <input id="chat_text" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc" />
    <div class="ph3"><a id="shoot" class="f6 link dim ba ph3 pv2 mb2 dib" href="#0" onclick="chat()">Chat</a></div>
      <div class="header-bar">
            <span>Output</span>
      </div>
      <code id="comment" class="white" placeholder="Result will appear here..."></code>
      
  </div>
<input type="hidden" class="QUl6YVN5QVZIM0" id="vidurgptlabel1" />
<input type="hidden" class="QTM1TEJ5R0VNSU5JQ" id="vidurgptlabel2" />
<input type="hidden" class="zcxbkUzU3NtVlR3" id="vidurgptlabel3" />
</form>


<section>

{% endblock %}
