{% extends "base.tmpl" %}

{% block seo %}

<title>{{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}">
<meta property="og:url" content="{{site.URL}}"/>
<meta property="og:title" content="{{site.Name}}"/>
<meta property="og:description" content="{{site.Description}}"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" />
<meta name="twitter:title" content="{{site.Name}}" />
<meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" />
<meta name="description" content="{{site.Description}}"/>
<meta name="twitter:description" content="{{site.Description}}" />
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/87d70237bce6ca20bf2c26f18/c94215ceb342fe5fe5dc0c947.js");</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{site.Name}}",
      "url": "{{site.URL}}",
      "description": "{{site.Description}}",
      "image": "https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}

<section class="center">
  <header class="tc pv2 pv3-ns">
    <img src="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" class="br-100 pa1 h5 w5 ba b--black-10" alt="avatar">
    <h1 class="dim black b f2 tc db mb3 mb4-ns">Hi, I'm Darshan Sharma</h1>
    <h2 class="f4 mid-gray fw2">It is good to have you here</h2>
  </header>

  <article class="f4 lh-copy">      
    <p>
      I am a Product Manager, traveller, powerlifter</a>
    </p>
    <form class="bg-near-white mw7 center pa4 br2-ns" action="{{site.MailchimpURL}}" method="POST">
      <input type="hidden" name="u" value="{{ site.MailchimpUID }}">
      <input type="hidden" name="id" value="{{ site.MailchimpAID }}">
      <fieldset class="cf bn ma0 pa0">
        <p>Enter your email below to get started.</p>
        </legend>
        <div class="cf"> 
          <label class="clip" for="email-address">Email Address</label> 
          <input
            class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
            placeholder="mailme@domain.com" type="text" name="MERGE0" value="" id="MERGE0"> 
            <input
            class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-dark-gray white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
            type="submit" value="Subscribe"> 
            </div>
      </fieldset>
    </form>
  </article>
</section>

<section class="bt b--black-10 center">
  <h2 class="tc dim black b f2">Latest Articles</h2>      
  {% for entry in entries |slice:":3" %}

  <article class="pv4 bb b--black-10 ph3 ph0-l">
    <div class="flex flex-column flex-row-ns">
      <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
        <small>
          <time datetime="{{entry.PublishAt | slice: ":9" }}" class="silver">
            {{ entry.PublishAt | slice: ":9" }}
          </time>
        </small>
        <a href="{{site.URL}}/{{entry.Slug}}" target="_blank" class="link">
          <h2 class="f3 mt0 lh-title">{{entry.Title}}</h2>
        </a>
        <p class="f5 f4-l lh-copy">
          {{ entry.Excerpt }}&hellip;
        </p>
      </div>
      <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
        <a href="{{site.URL}}/{{entry.Slug}}" target="_blank" class="link">
          {% if entry.FeaturedImage != ""  %} <img src="{{entry.FeaturedImage}}" class="db" alt="image for {{entry.Title}}">{% endif %}
        </a>
      </div>
    </div>   
    <small class="silver">
      {% for tag in entry.Tags %}
        <a href="{{site.URL}}/tags/{{tag}}/" class="link" target="_blank">#{{tag}}</a>
        {% if not forloop.Last %}, {% endif %}
      {% endfor %}
    </small>
  </article>
  {% endfor %}
  </section>

<section class="bt b--black-10 center lh-copy">
</section>


{% endblock %}
