{% block seo %}

<title>{{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}">
<meta property="og:url" content="{{site.URL}}"/>
<meta property="og:title" content="{{site.Name}}"/>
<meta property="og:description" content="{{site.Description}}"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" />
<meta name="twitter:title" content="{{site.Name}}" />
<meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2" />
<meta name="description" content="{{site.Description}}"/>
<meta name="twitter:description" content="{{site.Description}}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "{{site.Name}}",
      "url": "{{site.URL}}",
      "description": "{{site.Description}}",
      "image": "https://firebasestorage.googleapis.com/v0/b/darshansharma-ur.appspot.com/o/images%2F286366543_436060667935480_6479411762365981172_n.jpeg?alt=media&token=0dbe8925-c5ca-420a-a2f1-63d51fb74ee2",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}
<section class="center">



<h2>Cancellation & Refund Policy</h2>
<span>
Last updated on Oct 8th 2023

DARSHAN SHARMA believes in helping its customers as far as possible, and has therefore a liberal cancellation policy. Under this policy:

Cancellations will be considered only if the request is made immediately after placing the order. However, the cancellation request may not be entertained if the orders have been communicated to the vendors/merchants and they have initiated the process of shipping them.

DARSHAN SHARMA does not accept cancellation requests for perishable items like flowers, eatables etc. However, refund/replacement can be made if the customer establishes that the quality of product delivered is not good.

In case of receipt of damaged or defective items please report the same to our Customer Service team. The request will, however, be entertained once the merchant has checked and determined the same at his own end. This should be reported within 7 days of receipt of the products.

In case you feel that the product received is not as shown on the site or as per your expectations, you must bring it to the notice of our customer service within 7 days of receiving the product. The Customer Service Team after looking into your complaint will take an appropriate decision.

In case of complaints regarding products that come with a warranty from manufacturers, please refer the issue to them.

In case of any Refunds approved by the DARSHAN SHARMA, it’ll take 3-5 days for the refund to be processed to the end customer.

</span>
</section>
{% endblock %}